@using HomeOwnersAssociation.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Residences</h1>

@if (residences == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Lot</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var home in residences)
            {
            <tr>
                <td>@home.Lot</td>
                <td>@home.Address.Street</td>
                <td>@home.Address.City</td>
                <td>@home.Address.State</td>
                <td>@home.Address.Zip</td>
            </tr>
            }
        </tbody>
    </table>
}

@functions {
    Residence[] residences;

    protected override async Task OnInitAsync()
    {
        residences = await Http.GetJsonAsync<Residence[]>("api/Residence/List");
    }
}
