@page "/members"
@inherits MembersModel

<h1>Members</h1>

@if (MemberState.Members == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Privacy?</th>
                <th>Phone Numbers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in MemberState.Members.OrderBy(x=>x.LastName).ThenBy(x=>x.FirstName))
            {
                <tr>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.EmailAddress</td>
                    <td>@member.PrivacyEnabled</td>
                    <td>
                        <ul class="list-group">
                            @foreach (var phone in member.PhoneNumbers)
                            {

                                <li class="list-group-item">
                                    @($"({phone.AreaCode}) {phone.Number.ToString().Substring(0, 3)}-{phone.Number.ToString().Substring(3)}")
                                    @foreach (var tag in phone.Tags)
                                    {
                                        <span class="badge @(tag.Name == "Home" ? "badge-primary" : "badge-secondary")">@tag.Name</span>
                                    }
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
